<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246446001659-25pgaar0gniipjkbbturslaviaed9pbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246446001659-25pgaar0gniipjkbbturslaviaed9pbf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>246446001659-5u4p1q66caabpb4itp13r66vicdvqjm2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgE_CgCwWvjzovGirEo2x5o0jypYu1xOo</string>
	<key>GCM_SENDER_ID</key>
	<string>246446001659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maxfit.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>maxfit-dev-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>maxfit-dev-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246446001659:ios:07d9509673fc8eb5460f5e</string>
</dict>
</plist>